<div class="map mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3195.957301316767!2d34.56847697519902!3d36.77159177225527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15278b39d8e37aa1%3A0x62779ae38b503282!2sMersin%20Marina!5e0!3m2!1str!2str!4v1681960820595!5m2!1str!2str"
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

