@using ResumeProject.Models
@model List<TblProject>

<section class="w3-gallery py-5" id="portfolio">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main mb-2">Başarılı Çalışmalarım</h3>
        </div>
        <div class="row     portfolio-area clearfix p-0 m-0">
            <div class="col-lg-4 col-md-6 portfolio-item2 content" data-id="id-1" data-type="cat-item-1">
                <span class="image-block">
                    <a class="image-zoom" href="~/Content/starter/assets/images/blog1.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/Content/starter/assets/images/blog1.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Mimari</h3>
                            <p class="content-text">Kısa bir açıklama</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-md-0 mt-4" data-id="id-2" data-type="cat-item-2">
                <span class="image-block">
                    <a class="image-zoom" href="~/Content/starter/assets/images/blog2.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/Content/starter/assets/images/blog2.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Kurumsal</h3>
                            <p class="content-text">Kısa bir açıklama</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-lg-0 mt-4" data-id="id-3" data-type="cat-item-3">
                <span class="image-block">
                    <a class="image-zoom" href="~/Content/starter/assets/images/blog3.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/Content/starter/assets/images/blog3.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">E-ticaret</h3>
                            <p class="content-text">Kısa bir açıklama</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-4" data-type="cat-item-4">
                <span class="image-block">
                    <a class="image-zoom" href="~/Content/starter/assets/images/blog4.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/Content/starter/assets/images/blog4.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Kullanıcı Arayüzü</h3>
                            <p class="content-text">Kısa bir açıklama</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-5" data-type="cat-item-5">
                <span class="image-block">
                    <a class="image-zoom" href="~/Content/starter/assets/images/blog5.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/Content/starter/assets/images/blog5.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Moda</h3>
                            <p class="content-text">Kısa bir açıklama</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-7" data-type="cat-item-6">
                <span class="image-block">
                    <a class="image-zoom" href="~/Content/starter/assets/images/blog6.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/Content/starter/assets/images/blog6.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Emlak </h3>
                            <p class="content-text">Kısa bir açıklama</p>
                        </div>
                    </a>
                </span>
            </div>
        </div>
        <!--end portfolio-area -->
    </div>
    <!-- //gallery container -->
</section>
